

.site-main {
                  background: $color_site-main; 
}

.site-content .widget-area {
	float: right;
                  padding: 4rem;
	overflow: hidden;
	width: $size__site-sidebar;
                  background: $color__sidebar;
}


.site-footer {
	clear: both;
	width: $size__site-main;
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: $size__content-limit;
    padding: 0 4rem;
    margin: 0 auto;
}


@include media(">=1160px") { 
    
    .content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
    }

    .site-main {
	margin: 0 $size__site-sidebar 0 0;
                  background: $color_site-main; 
    }

} // >tablet
