


.site-main {
                  background: $color_site-main; 
}

.site-content .widget-area {
	float: right;
                  padding: 4rem;
	overflow: hidden;
	width: $size__site-sidebar;
                  background: $color__sidebar;
}

.site-content{
    padding-bottom: 4em;
}

.site-content .widget-area {
    h1,h2,h3,h4,h5,a,p, li,table{
        color: $color__sidebar-txt;
    }
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.entry-header,
.entry-content,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: $size__content-limit;
    padding: 0 4rem;
    margin: 0 auto;
}


@include media(">=1160px") { 
    
    .content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
    }

    .site-main {
	margin: 0 $size__site-sidebar 0 0;
    }

} // 1160 and larger

@include media("<1160px"){
    
    .site-content .widget-area {
	float: none;
	overflow: hidden;
	//width: $size__site-sidebar;
                  width: auto;
                  max-width: $size__content-limit;     
                  margin: 1em auto 0; 
    }

    
} // less than 1160px