// There are colors that are not pulling variables in this sheet at the moment

.site-branding {
    padding: 6rem 0;
    text-align: center;
    background: $color__header;
}

.site-title {
    font-weight: 700;
    font-size: 40px;
    font-size: 4.5rem;
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 1rem;
}

.site-description {
    font-weight: 100;
    font-size: 20px;
    font-size: 2rem;
}
                    
.title-box {
    width: 600px;
    max-width: 75%;
    padding: 4rem;
    margin: 0 auto;
    border: solid 1px $color__titleboxbr;
}
                    
.site-branding a { 
    text-decoration: none; 
}

.site-title a,
.site-description { 
    color: $color__headertitle;
}
              
/* Header search */

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
      -webkit-appearance: none; // This fixes bar styling in Safari
}

.search-box-wrapper {
    z-index: 2;
    width: 100%;
    margin-top: 3em;
}

.search-box {
    padding: 1em;
    background: $color__searchbox;
}

.search-box .search-field {
    max-width: 362px;
    float: right;
    padding: 1rem 2rem 1rem 4rem;
    font-size: 20px;
    font-size: 2rem;
    background-color: #fff;
    border: 0;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}    

/* Header responsive */
@media screen and (max-width: 600px) {
    .site-branding { padding: 0; }
    
    .title-box {
        max-width: 100%;
        margin: 0;
        padding: 4rem;
        border: none;
    }
}