/*Colors*/

$red:  #ea4043;
$blue: #147FD7;
$black: #222;
$darkgrey: #333; 
$lightgrey: #F1F1F1;
$white: #fff;

$color__background-body:$lightgrey;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

/*Buttons*/

$color__background-button: lighten($black, 10);
$color__bg-hvr-button: $black; 
 $color__button-text: $blue;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color_site-main: $lightgrey;
$color__sidebar: $blue;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $black;
$color__link-visited: $darkgrey;
//$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
