
.main-navigation {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    clear: both;
    font-family: $font__secondary;
    text-transform: uppercase;
    background: $color__mainnav;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
    display: block;
    padding: 1.3em 1em;
    font-size: 14px;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 1.3em;
    color: $color__navtext;
}
.main-navigation ul ul {
    position: absolute;
    left: 0;
    z-index: 99999;
    display: none;
    float: left;
    padding: 0;
    background: lighten($color__mainnav, 10);
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
    color: $color__navtext;
    background: lighten($color__mainnav, 10);
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
    background: lighten($color__mainnav, 20);
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover {
    background: $color__navcurrent;
    color:darken($color__navtext, 80);
}

.main-navigation .current_page_ancestor {
    background:  lighten($color__mainnav, 20);
}

.main-navigation ul ul .current_page_parent,
.main-navigation .current_page_parent .current_page_item > a {
    color: $color__navtext;
    background:  $color__mainnav;
} 
    
/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 600px) {
                    .menu-toggle {
                        display: block;
                        height: 3.75em;
                        padding: 0 1em;
                        font-weight: normal;
                        font-size: 14px;
                        font-size: 1.4rem;
                        text-decoration: none;
                        line-height: 3.75em;
                        color: $color__navtext;
                    }

                    .main-navigation.toggled .nav-menu {
                        display: block;
                        border-top: 1px solid;
                        border-top-color: $color__navborder;
                    }

                    .main-navigation ul {
                        display: none;
                        padding-left: 0;
                    }

                    .main-navigation li { 
                                float: none; 
	}

	.main-navigation li a { 
		padding: 1.3em 2em; 
	}

	.main-navigation li li a { 
		padding-left: 4em; 
	}

	.main-navigation li li li a { 
		padding-left: 6em; 
	}

	.main-navigation li:hover > a {
                        color: $color__navtext;
                        background: lighten($color__mainnav, 10);
                  }
	
	.main-navigation ul ul,
	.main-navigation ul ul ul {
		position: relative;
		top: inherit;
		left: 0;
		display: block;
		float: none;
		background: $color__mainnav;
	}
	
	.main-navigation ul ul a { width: 100%; }

	.main-navigation ul a:hover,
	.main-navigation ul ul a:hover {
                        background: lighten($color__mainnav, 10);
	}

	.main-navigation .current_page_ancestor { background: inherit; }

	.main-navigation ul ul .current_page_parent {
		color: inherit;
		background: inherit;
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current_page_item > a:hover,
	.main-navigation .current_page_item li:hover,
	.main-navigation .current_page_parent .current_page_item > a  {
                                    color: $color__navtext;
                                    background:  $color__mainnav;
	}
    
}

// Social Menu 

.menu-social ul {
    float: right;
    text-align: center;
    list-style: none;    
    
    li{
        position: relative;
        display:  inline-block;    
        
        a:before{
            display: inline-block;
            padding: 0 5px;
            vertical-align: top;
            font-family: 'Fontawesome';
            font-size: 20px;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            content: '\f0c0';
        } // a:before
    
    } // li
    
} // .menu-social ul

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }

.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }

.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }

.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }

.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }

.menu-social li a[href*="github.com"]::before { content: '\f09b'; }

.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }

.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }

.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }

.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }

.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }

.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }

@media screen and (max-width: 600px) {
    #menu-social ul {
	    position: absolute;
        top: 0;
        right: 6rem;
        display: block;
    }
    
    #menu-social li a { 
        padding-left:.5em;
        padding-right: .5em;
    }
    
} // max width 600px 
     